
.sidebar-btn {
    text-align: left !important;
    border: none !important;
    background: transparent;
    color: #495057;
    font-size: 1.05rem;
    border-radius: 10px !important;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgba(0,0,0,0.04);
    border: 1px solid #e9ecef !important;
    background-color: #ffffff;
}

.sidebar-btn:hover, .sidebar-btn.active {
    background-color: #162e54 !important;
    color: #ffffff !important;
}

.sidebar-btn.text-danger:hover {
    background-color: #dc3545 !important;
    color: #ffffff !important;
}


.input-busqueda-admin {
    border-radius: 20px !important;
    padding-left: 45px !important;
    border: 1px solid #ced4da;
    height: 45px;
}

.tabla-admin {
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #e9ecef;
}

.tabla-admin thead {
    background-color: #e9ecef;
    color: #1a1a1a;
    font-weight: bold;
}

.tabla-admin th, .tabla-admin td {
    padding: 15px !important;
    vertical-align: middle;
    font-size: 0.9rem;
}

/* Avatar redondo de usuarios */
.avatar-usuario {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

/* Selector de Rol limpio */
.select-rol-admin {
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 0.85rem;
    color: #495057;
    background-color: #f8f9fa;
}

.btn-deshabilitar {
    background-color: #162e54 !important;
    color: white !important;
    font-size: 0.75rem !important;
    font-weight: bold !important;
    border-radius: 20px !important;
    padding: 6px 15px !important;
    border: none !important;
    white-space: nowrap;
}

.btn-deshabilitar:hover {
    background-color: #0f203a !important;
}

.btn-deshabilitar.btn-danger-admin {
    background-color: #cc0000 !important;
}

.btn-deshabilitar.btn-danger-admin:hover {
    background-color: #a30000 !important;
}

.form-check-input:checked {
    background-color: #0d8a5f !important;
    border-color: #0d8a5f !important;
}


.form-control.is-invalid {
    border: 2px solid #dc3545 !important;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;
}

label.text-danger {
    color: #dc3545 !important;
}