
.card-seccion {
    background-color: #f1f3f5;
    border-radius: 12px;
    padding: 20px;
    height: 100%;
}

.avatar-perfil {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #1a365d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    color: white;
    cursor: pointer;
}


.input-bloqueado {
    background-color: #ced4da !important;
    cursor: not-allowed;
}