body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

.tarjeta-personalizada {
    background-color: #E9EEED !important;
    border-radius: 30px !important;
    max-width: 650px; 
    width: 100%;
}

.btn-srae-rec {
    background-color: #172F53;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
    font-family: 'Montserrat', sans-serif;
}

.btn-srae-rec:hover {
    background-color: #2B4F86;
    color: white;
}

.btn-srae {
    background-color: #162e54;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
    font-family: 'Montserrat', sans-serif;
}

.btn-srae:hover {
    background-color: #1a3663;
    color: white;
}

.label-formulario {
    color: #4a4a4a;
    font-size: 0.85rem;
}

.input-formulario {
    border-radius: 50px !important;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.05) !important;
    border: 1px solid #d1d5db !important;
}

.input-formulario::placeholder {
    color: #a0aab5;
}

.input-formulario:focus {
    border-color: #162e54;
    box-shadow: 0 0 0 0.2rem rgba(22, 46, 84, 0.25);
}

.btn-ingresar {
    background-color: #058971 !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.15) !important;
    transition: background-color 0.3s ease !important;
}

.btn-ingresar:hover,
.btn-ingresar:active,
.btn-ingresar:focus {
    background-color: #09b294 !important;
}

.enlace-oscuro {
    color: #1b365d;
    font-weight: 700;
}
.enlace-oscuro:hover {
    color: #0f2240;
}